.map-container {
  position: relative;
  height: 70vh; 
  width: 100%;
  margin: 0;
  padding: 0;
}

/*Bottom Marker Table*/
.marker-table {
  margin-top: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

thead {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
  background-color: white;
}

th {
  background-color: lightgray;
}

button.link-button {
  background: none;
  color: rgb(33, 128, 244);
  border: none;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 8px;
  cursor: pointer;
}

button.link-button:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* More Info Side Panel*/
.side-panel {
  position: absolute; /* Position the side panel absolutely relative to the map container */
  top: 0;
  right: 0;
  width: 300px;
  height: 92%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1000; /* Ensure it appears above the map */
}


.side-panel .panel-content {
  padding: 20px;
}

button.close-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

button.close-button:hover {
  background-color: #0056b3;
}
