.map-container {
  position: relative;
  height: 70vh; 
  width: 100%;
  margin: 0;
  padding: 0;
}

.map-subcontainer {
    width: 100%;
    height: 100%;
    transition: width 0.3s ease;
}
.map-subcontainer.resize {
    width: 75%;
}

.marker-table {
  margin-top: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

thead {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
  background-color: white;
}

th {
  background-color: lightgray;
}

button.link-button {
  background: none;
  color: rgb(33, 128, 244);
  border: none;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 8px 4px 0px; 
  cursor: pointer;
}

button.link-button:hover {
  text-decoration: underline;
  color: #0056b3;
}

.side-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  transition: width 0.3s ease;
}
.side-panel.show {
  width: 25%;
}

.side-panel .panel-content {
  padding: 20px;
}

.side-panel .panel-actions {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 10px 0 0;
}

.panel-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}
.panel-content h2 {
    font-size: 26px;
    padding-bottom: 10px;
}

button {
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button.close-button {
  background-color: #919191;
  font-family: 'Montserrat', sans-serif;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  max-width: 120px;
  text-align: center;
}
button.close-button:hover {
  background-color: #818181;
}

button.edit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  max-width: 120px;
  text-align: center;
}
button.edit-button:hover {
  background-color: #388e3c;
}

.report-image-container {
    width: 100%;
    display: flex;    
}

.report-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#type-input {
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

#report-status {
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

#description-input {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    resize: none;
}
.password-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: black;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  color: white;
  font-size: 20px;
  font-weight: normal;
}

.modal-content input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.blue-submit-button {
  background-color: #007bff;
  color: white;
  margin-right: 20px;
}

.blue-submit-button:hover {
  background-color: #0056b3;
}

.close-button2 {
  background-color: #919191;
  color: white;
}

.close-button2:hover {
  background-color: #363636;
}



