.map-container {
  position: relative;
  height: 70vh; 
  width: 100%;
  margin: 0;
  padding: 0;
}

.marker-table {
  margin-top: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

thead {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
  background-color: white;
}

th {
  background-color: lightgray;
}

button.link-button {
  background: none;
  color: rgb(33, 128, 244);
  border: none;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 8px;
  cursor: pointer;
}

button.link-button:hover {
  text-decoration: underline;
  color: #0056b3;
}

.side-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 92%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
}

.side-panel .panel-content {
  padding: 20px;
  flex-grow: 1;
}

.side-panel .panel-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0;
}

button {
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button.close-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  width: 120px;
}

button.close-button:hover {
  background-color: #d63031;
}

button.change-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  width: 120px;
}

button.change-button:hover {
  background-color: #388e3c;
}
