/* General link styling */
.menu-link {
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.3s;
    scale: 1.0;
    transition: scale 0.3s;
}

/* Hover effect for links */
.menu-link:hover {
    scale: 1.1;
}

.active-link {
    color: #F6B332;
}

/* Navbar container styling */
.navbar-container {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #33333334;
    background: linear-gradient(to bottom, rgba(50, 0, 0, 0.5), rgba(255, 255, 255, 0));
}

/* Logo styling */
#city-logo {
    width: 180px;
}

/* Menu list styling */
.menu-list {
    display: flex;
    gap: 50px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-right: 20px;
}

@media screen and (max-width: 400px) {
    #city-logo {
        width: 80px;
    }
    .menu-list {
        display: flex;
        gap: 20px;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        padding-right: 0px;
    }
    .navbar-container {
        padding: 20px 10px;
        
    }
}